.App-container {
	height: 100vh;
	width: 100vw;
	padding: 20px;

	display: flex;
	align-items: center;

	background: linear-gradient(to right, #141e30, #243b55);
}

@media screen and (max-width: 420px) {
	.App-container {
		min-height: 100vh;

		flex-direction: column;
	}
}
