.game-container {
	height: 100%;
	margin-left: 20px;
	padding: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;

	flex: 1;
	border: 2px solid #333333;
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
	border-radius: 5px;
	box-shadow: 2px 2px 8px #0008;
}

.game-container .no-games {
	text-align: center;

	color: #969696;
}

.game-container .no-games h4,
.game-container .no-games h3 {
	margin: 15px 0;
}

.game-container .no-games .left-arrow {
	color: #1f71cf80;
	font-size: 2.5rem;
}

.game-container h2 {
	padding: 10px;

	font-family: 'Hurricane', cursive;
	font-size: 2.5rem;
}

.game-container .cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;

	overflow: auto;
}

.game-container .cards-container::-webkit-scrollbar {
	width: 0px;
}
