.modal-container {
	width: 100%;
	height: 100%;

	background: #00000095;

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-container .modal-content {
	padding: 30px;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid #333333;
	background: linear-gradient(to right, #d3cce3, #e9e4f0);
	border-radius: 5px;
	box-shadow: 2px 2px 8px #0008;
}

.modal-container .modal-content h3 {
	padding-bottom: 10px;

	font-family: 'Hurricane', cursive;
	font-size: 2.5rem;
	text-align: center;
	color: #1f71cf;
}

.modal-container .modal-content p {
	font-size: 1.5rem;
}

.modal-container .modal-content p span {
	font-weight: 600;
	color: #363636;
}

.modal-container .modal-content .opt-container {
	margin-top: 20px;
	align-self: end;
	justify-self: end;
}

.modal-container .modal-content .opt-container .opt:hover {
	transform: scale(1.3);

	cursor: pointer;
}

.modal-container .modal-content .opt-container .pen {
	margin-right: 10px;
	color: #1f71cfb5;
}

.modal-container .modal-content .opt-container .trash {
	color: #f1290eb5;
	margin-right: 10px;
}

.modal-container .modal-content .opt-container .close {
	color: #363636;
}
